body, html {
    margin: 0;
    font-family: sans-serif;
}

.title-header {
    color: rgb(217, 210, 210);
    border: 2px solid black;
    text-align: center;
    height: 60px;
    padding: 1%;
    background-color: rgb(51, 5, 91);
    object-fit: cover;
    width: 100%;
}

.explainer {
    padding: 0.2%;
    color: rgb(62, 62, 62);
    background-color: lightgray;
}

.quote-container {
    color: rgb(237, 201, 90);
    background-image: url('../img/redwood-forest.jpeg');
    height: 1000px;
    background-size: cover;
}

.quote {
    color: rgb(236, 214, 149);

    font-size: 35px;
    margin: 5%;
    font-style: italic;
}

.float-container {
    border: None;
    background-image: url('../img/redwood-forest.jpeg');
    height: 1000px;
    background-size: cover;
    padding: 20px;
}

.float-child-1 {
    width: 42%;
    margin: 10px;
    float: left;
    padding: 20px;
    background-color:rgb(217, 210, 210, 0.8);
    border: 2px solid black;
} 

.float-child-2 {
    width: 42%;
    margin: 10px;
    float: right;
    padding: 20px;
    background-color:rgb(217, 210, 210, 0.8);
    border: 2px solid black;
} 

.user-selected-quote {
    text-align: center;
    font-style: italic;
    color: rgb(88, 88, 88);
}

.quote-rating {
    text-align: left
}

.recommendation-description {
    text-align: left
}

.recommendation-quote {
    text-align: center;
    font-style: italic;
    color: rgb(88, 88, 88);
}

.float-child-2 {
    width: 42%;
    margin: 10px;
    float: right;
    padding: 20px;
    border: 2px solid black;
} 

.quote-history {
    font-size: 30px;
    border: 2px solid black;
    padding: 10px;
}

.quote-history-item {
    text-align: center;
    font-style: italic;
    color: rgb(62, 62, 62);
}

.stars {
    color: rgb(220, 193, 55);
}

.star-rating-container {
    text-align: left;
}

.btn {
    background-color: transparent;
    background-repeat: no-repeat;
    opacity: 1;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 40px;
}

.btn-start-over {
    font-style: bold;
    cursor: pointer;
}

.btn-different-quote {
    font-style: bold;
    cursor: pointer;
}

.fa-star {
    opacity: 1;
    color: rgb(220, 193, 55);
}

.fa-star:hover {
    opacity: 1;
    color: rgb(164, 142, 33);
}

.form-stars {
    opacity: 1;
    text-align: center;
    display: inline;
    margin: 0 auto; 
}

.form-stars-b {
    text-align: center;
    display: inline;
    margin: 0 auto; 
}

.form-start-over {
    display: inline;
}

.form-different-quote {
    display: inline;
}

input {
    height: 100%;
    display: inline;
    background-color:rgb(202, 202, 202);
    border-radius: 8px;
    -moz-border-radius: 0px;
}