{% extends 'base.html' %}

{% block head %}

<title>Quote Giver</title>
{% endblock %}

{% block body %}
<div class="quote-container">
    <div class = "title-header">
        <h1>Similar Quote Generator</h1>
    </div>
    <div class = "explainer">
        <h3 class = "explainer-text">Please rate the following random quote. <br><br>
            If you rate the quote with 4 or more stars, we'll find a similar quote.
        </h3>
    </div>
    <br>
    <br>
    <h1 class = "quote">"{{ random_quote_data.quote }}"- {{ random_quote_data.author }}
        <br>
    </h1>
<br>
        <form class = "form-stars" action = "/recommended_quote/{{random_quote_data.quote_id}}/False/">
            <div class = "rating-box-container">
                <div class = "btn-container">
                    <button type = "submit" name = "submit_button" class="btn" value = "&#11088"><i class="fa fa-star"></i></button>
                    <button type = "submit" name = "submit_button" class="btn" value = "&#11088&#11088"><i class="fa fa-star"></i></button>
                    <button type = "submit" name = "submit_button" class="btn" value = "&#11088&#11088&#11088"><i class="fa fa-star"></i></button>
                    <button type = "submit" name = "submit_button" class="btn" value = "&#11088&#11088&#11088&#11088"><i class="fa fa-star"></i></button>
                    <button type = "submit" name = "submit_button" class="btn" value = "&#11088&#11088&#11088&#11088&#11088"><i class="fa fa-star"></i></button>
                </div>
            </div>
        </form>
</div>

{% endblock %}

<div class = "explainer">
    <h3>The following quote was randomly pulled from https://github.com/lukePeavey/quotable.<br><br>
        There are a total of 1,885 quotes in the database. The similarity between the quotes was
        calculated using a Natural Language Processing algorithm titled BERT (Bidirectional Encoder Representations from Transformers).
    </h3>
</div>