{% extends 'base.html' %}

{% block head %}

<title>Quote Giver</title>
{% endblock %}

{% block body %}
<div class="quote">
    <div class = "title-header">
        <h1 style = "text-align: center">Random Quote Generator</h1>
    </div>
    <table>
        <tr>
            <th>Quote</th>
            <th>Author</th>
        </tr>
        <!-- {% for quote in [random_quote_data] %} -->
            <tr>
                <td>{{ random_quote_data.quote }}</td>
                <td> - {{ random_quote_data.author }}</td>
            </tr>
        <!-- {% endfor %} -->
    </table>
<br>
    <form action = "/" method = "POST">
        <input type="submit" name="submit_button" value="&#11088">
        <input type="submit" name="submit_button" value="&#11088&#11088">
        <input type="submit" name="submit_button" value="&#11088&#11088&#11088">
    </form>
    <form action = "/recommended_quote/{{random_quote_data.quote_id}}/4/">
        <input type="submit" name="submit_button" value="&#11088&#11088&#11088&#11088">
    </form>
    <form action = "/recommended_quote/{{random_quote_data.quote_id}}/5/">
        <input type="submit" name="submit_button" value="&#11088&#11088&#11088&#11088&#11088">
    </form>
</div>

{% endblock %}

<!-- <a name="submit_button" href='/recommended_quote/{{random_quote_data._id}}'>That other page</a>
<a name="submit_button" href='/recommended_quote/{{random_quote_data._id}}'>That other page</a> -->