{% extends 'base.html' %}

{% block head %}
<title>Favorite Quote</title>
{% endblock %}

{% block body %}
<div class = "float-container">
    <div class="float-child-1">
        <div class="left-hand-column">
            {% if user_rating == 'no rating' %}
                <h3 class = "quote-rating-no-stars">You did not give this quote a rating.</h3>
            {% else: %}
                <h3 class = "quote-rating">You rated the this quote <span class= "stars">{{ user_rating }} stars</span> at {{ time_of_rating }}.</h3>
            {% endif %}
            <h2 class = "user-selected-quote">"{{ user_selected_quote.quote }}" - {{ user_selected_quote.author }}</h2>
            <h3 class = "recommendation-description">We found a {{ sim_or_diff }} quote. How would you rate it?</h3>
            <h3 class = "recommendation-quote">"{{ recommended_quote.quote }}" - {{ recommended_quote.author }}</h3>

            </div>
                <form action = "/recommended_quote/{{recommended_quote.quote_id}}/False/">
                    <div class = "star-rating-container"></div>
                        <input type="submit" name="submit_button" value="&#11088">
                        <input type="submit" name="submit_button" value="&#11088&#11088">
                        <input type="submit" name="submit_button" value="&#11088&#11088&#11088">
                        <input type="submit" name="submit_button" value="&#11088&#11088&#11088&#11088">
                        <input type="submit" name="submit_button" value="&#11088&#11088&#11088&#11088&#11088">
                    </form>
                <br>

                <form action = "/" method = "GET">
                    <input type="submit" name="submit_button" value="Start over">
                </form>
                <br>
                <form action = "/recommended_quote/{{recommended_quote.quote_id}}/True/" method = "GET">
                    <input type="submit" name="submit_button" value="Different Quote">
                </form>
        </div>
    <div class="float-child-2">
        <div class="right-hand-column">
            <h1 class = "quote-history" style = "text-align: center">Quote History</h1>
            {% for quote_i in  all_user_selected_quotes|reverse%}
            <div class = "historic-elements">
                {% if quote_i.user_rating == 'norating' %}
                    <p>You gave the following quote no rating on <span class= "quote-history-time">{{ quote_i.formatted_time }}</span></p>
                {% else: %}
                    <p>You gave the following quote <span class= "stars">{{ quote_i.user_rating }} stars</span> on <span class= "quote-history-time">{{ quote_i.formatted_time }}</span></p>
                {% endif %}
                <p class = "quote-history-item">"{{quote_i.quote}}" - {{quote_i.author}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>

{% endblock %}