{% extends 'base.html' %}

{% block head %}
<title>Favorite Quote</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style = "text-align: center">You rated the following quote {{ user_rating }} stars at {{ time_of_rating }}.</h1>
    <h4 style = "text-align: center">"{{ user_selected_quote.quote }}"" - {{ user_selected_quote.author }}</h3>
    <h3 style = "text-align: center">We found a similar quote. How would you rate it?</h3>
    <h5 style = "text-align: center">"{{ similar_quote.quote }}"" - {{ similar_quote.author }}</h3>

    <form action = "/" method = "POST">
        <input type="submit" name="submit_button" value="1 Star">
        <input type="submit" name="submit_button" value="2 Star">
        <input type="submit" name="submit_button" value="3 Star">
    </form>
    <form action = "/recommended_quote/{{similar_quote.quote_id}}/4/">
        <input type="submit" name="submit_button" value="4 Star">
    </form>
    <form action = "/recommended_quote/{{similar_quote.quote_id}}/5/">
        <input type="submit" name="submit_button" value="5 Star">
    </form>
    <br>
    <br>

    <form action = "/" method = "GET">
        <input type="submit" name="submit_button" value="Go back">
    </form>
    <br>
    <br>
</div>
<div class="right_hand_floating"></div>
    {% for quote_i in  all_user_selected_quotes%}
    <p>{{quote_i.quote}} - {{quote_i.author}}</p>
    <br>
    {% endfor %}
</div>

{% endblock %}